# Bravo voor MacOS
.DS_Store

# Python builds
/sphinx_extension/extension_name.egg-info/
/sphinx_extension/dist/

# Code editor bs
/.vscode/
/.idea

# Vite builds
/app/node_modules
/app/dist

# Vite build in the extension folder
/sphinx_extension/extension_name/_static/dist/

# Test output
/app/test-report.xml
/app/coverage
