# Bravo voor MacOS
.DS_Store

# Python builds
/sphinx_extension/extension_name.egg-info/
/sphinx_extension/dist/

# Code editor bs
/.vscode/
/.idea
.editorconfig


# Vite builds
/app/node_modules
/app/dist

