html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; /* Or your app's base font-size */
  font: inherit; /* Or your app's base font-family */
  vertical-align: baseline;
  box-sizing: border-box; /* Highly recommended for component sanity */
  /* Reset other potentially problematic inherited properties */
  background: transparent;
  color: inherit; /* Or your app's base text color */
  text-decoration: none;
  list-style: none;
}

/* More specific resets for form elements if needed */
button,
input,
select,
textarea {
  appearance: none; /* May need -webkit-appearance, -moz-appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  line-height: inherit;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.ProseMirror {
  min-height: 800px;
  background: #fff;
  border: 2px solid #d7e1ff;
  border-radius: 12px;
  box-shadow: 0 2px 16px 0 #0001;
  padding: 48px 64px;
  box-sizing: border-box;
  outline: none;
  font-size: 11px;
  margin: 40px auto;
  transition:
    border 0.15s,
    box-shadow 0.15s;
  max-width: 800px;
}

blockquote {
  border-left: 3px solid #d7e1ff;
  margin-left: 0;
  padding-left: 1em;
  color: #555;
  background: #f9f9fa;
}

pre {
  background: #272822;
  color: #f8f8f2;
  border-radius: 6px;
  padding: 1em;
  font-family: "Fira Mono", "Consolas", "Menlo", "Monaco", monospace;
  font-size: 13px;
  margin: 1em 0;
  overflow-x: auto;
}

a {
  color: #1976d2;
  text-decoration: underline;
  cursor: pointer;
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #d7e1ff !important;
  color: #1a237e !important;
}
